<tbody>
  <table mat-table [dataSource]="departures || ''" class="mat-elevation-z8">

    <ng-container matColumnDef="icon">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let departure" [style.background-color]="departure.color">
        <img src={{departure.iconPath}} class="icon" />
      </td>
    </ng-container>

    <ng-container matColumnDef="routeId">
      <th mat-header-cell *matHeaderCellDef> Rute </th>
      <td mat-cell *matCellDef="let departure" [style.background-color]="departure.color">
        {{departure.routeId}}
      </td>
    </ng-container>

    <ng-container matColumnDef="departureTime">
      <th mat-header-cell *matHeaderCellDef> Ankomst </th>
      <td mat-cell *matCellDef="let departure" [style.background-color]="departure.color">
        {{departure.departureTime}}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns || ''"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</tbody>